name: tonband
description: Application for sharing stories via audio

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # BLoCs.
  bloc: ^7.0.0
  flutter_bloc: ^7.0.0
  # Library for recording sound.
  record: ^2.1.0+1
  # Get paths to device specific directories.
  path_provider: ^2.0.1
  # Request cross-platform permissions.
  permission_handler: ^6.1.1

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  uses-material-design: true
  assets:
    - asset/fonts/
    - asset/images/
  fonts:
    - family: Now
      fonts:
       - asset: asset/fonts/Now-Black.otf
         weight: 800
       - asset: asset/fonts/Now-Bold.otf
         weight: 600
       - asset: asset/fonts/Now-Medium.otf
         weight: 500
       - asset: asset/fonts/Now-Regular.otf
         weight: 400
       - asset: asset/fonts/Now-Light.otf
         weight: 300
       - asset: asset/fonts/Now-Thin.otf
         weight: 200


  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
